In [4]:
import pandas as pd

mrett_rides = {
    '21' : 'TLR MRETT21 Monday Race',
    '22' : 'TLR MRETT22 Race Monday',
    '23' : 'TLR MRETT23 Monday Race',
    '24' : 'TLR MRETT24 Monday Race',
    '25' : 'TLR MRETT25 Race Monday',
    '26' : 'TLR MRETT26 Race Monday'
}

df_rides = {}

for mrett in mrett_rides.values():
    filename = mrett + '.pickle'
    df_rides[mrett] = pd.read_pickle(filename)

In [6]:
df_results = pd.read_pickle('TLR MRETT2 3rd.pickle')
df_results

,index,#,Unnamed: 1,Name,Finish Time,Avg wKg,Ride,Pseudonym
0,5,3,ðŸ¥‰,453ca50f305c3e40833a,37:16.5 + 0.986,3.38,TLR MRETT21 Monday Race,tactful-clam
1,4,3,ðŸ¥‰,453ca50f305c3e40833a,34:59.8 + 1.063,3.50,TLR MRETT22 Race Monday,tactful-clam
2,3,3,ðŸ¥‰,c7601540ed2d8d453411,32:04.1 + 1.138,4.08,TLR MRETT23 Monday Race,loutish-antelope
3,2,3,ðŸ¥‰,c7601540ed2d8d453411,35:31.8 + 0.604,3.72,TLR MRETT24 Monday Race,loutish-antelope
4,1,3,ðŸ¥‰,453ca50f305c3e40833a,36:55.0 + 2.386,3.50,TLR MRETT25 Race Monday,tactful-clam
5,0,3,ðŸ¥‰,c7601540ed2d8d453411,37:20.9 + 0.127,3.78,TLR MRETT26 Race Monday,loutish-antelope

In [7]:
df_wkg = pd.read_pickle('TLR MRETT2 All Riders.pickle')
df_wkg

Pseudonym,amaranth-myna,belligerent-swift,eager-meerkat,idealistic-porpoise,loutish-antelope,persimmon-jaybird,tactful-clam,watchful-panda
Ride,,,,,,,,
TLR MRETT21 Monday Race,2.45,1.96,4.34,NaN,NaN,3.08,3.38,3.58
TLR MRETT22 Race Monday,NaN,NaN,4.46,3.81,3.96,3.23,3.50,3.48
TLR MRETT23 Monday Race,NaN,NaN,4.39,3.54,4.08,3.14,3.22,3.54
TLR MRETT24 Monday Race,NaN,NaN,4.33,3.71,3.72,3.17,3.26,3.32
TLR MRETT25 Race Monday,NaN,NaN,4.31,3.57,NaN,3.20,3.50,3.45
TLR MRETT26 Race Monday,NaN,NaN,NaN,NaN,3.78,3.12,3.35,3.26

In [21]:
import pandas_bokeh

css_classes = ['uk-table', 'uk-table-small', 'uk-table-hover', 'uk-table-divider', 'uk-table-striped']

f = open("mrett2-tlr.html", "w")
f.write("<html><head>")

f.write('''<html><head><title>Team Lou Racing Squad </title>        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

        </head><body><h1>Team Lou Racing Squad MRETT Series 2</h1>''')

GC_html_graph = df_results.plot_bokeh(y='Avg wKg', figsize=(1500, 350),
                                            title="3rd Place Rider W/kg per Ride",
                                            xlabel="Team Time Trial",
                                            plot_data_points=True,
                                            hovertool_string="""<h3> @{Ride}</h3>
                                                            Rider: <b>@{Pseudonym}</b><br>
                                                            Time: <b>@{Finish Time}</b>""",
                                            sizing_mode="scale_width",
                                            zooming=False,
                                            return_html=True, show_figure=False
)

f.write('<hr>' + '<h2>' + '3rd Place Riders' + '</h2>')

f.write(GC_html_graph)

GC_html_table = df_results[['Ride', 'Pseudonym',  'Finish Time', 'Avg wKg']].to_html(classes=css_classes, border=0)

f.write(GC_html_table)


for ride_name in df_rides.keys():
    f.write('<hr>' + '<h2>' + ride_name + '</h2>')
    GC_html_table = df_rides[ride_name][['#', 'Pseudonym', 'Finish Time', 'Avg wKg']].to_html(classes=css_classes, border=0)

    f.write(GC_html_table)

1253

In [23]:
GC_html_graph = df_wkg.fillna(0).plot_bokeh(figsize=(1500, 700), plot_data_points=True, ylabel='W/kg', title="All Riders W/kg", legend='bottom_center',
                                            sizing_mode="scale_width",
                                            zooming=False,
                                            return_html=True, show_figure=False)

f.write('<hr>' + '<h2>' + 'All Riders' + '</h2>')

f.write(GC_html_graph)

GC_html_table = df_wkg.to_html(classes=css_classes, border=0)

f.write(GC_html_table)

1940

In [ ]:


for mrett in mrett_gids.keys():
    if mrett != 'GC':
        df_mretts[mrett]['timedelta'] = pd.to_timedelta(df_mretts[mrett].Time) 
        df_mretts[mrett]['Time in Seconds'] = df_mretts[mrett]['timedelta'].dt.total_seconds() 
        df_mretts[mrett]['Time in Minutes'] = df_mretts[mrett]['Time in Seconds']/60
        df_mretts[mrett]['Time in Minutes Truncated'] = divmod(df_mretts[mrett]['Time in Seconds'], 60)[0] 
        df_mretts[mrett]['Time Remainder in Seconds'] = divmod(df_mretts[mrett]['Time in Seconds'], 60)[1] 
        df_mretts[mrett]['Team Name'] = df_mretts[mrett].index


stage_html_graphs = ''

for mrett in mrett_gids.keys():
    if mrett != 'GC':
        out_html = df_mretts[mrett][::-1].plot_bokeh.barh(    
            title = 'MRETT' + mrett,
            xlabel = 'Time (Minutes)',
            y='Time in Minutes',
            alpha=0.6,
            figsize=(1600, 600),
            legend = "top_right",
            hovertool_string="""<h2> #@{#} 
                                @{Team Name} </h2>
                                <h3> Time: @{Time} </h3>""",
            sizing_mode="scale_width",
            zooming=False,
            return_html=True, show_figure=False
            )

        

        out_table_html = df_mretts[mrett][['#', 'Time', 'Diff', 'Points']].to_html(classes=css_classes, border=0)

        f.write('<hr>' + '<h2>' + 'MRETT' + mrett + '</h2>')
        f.write(out_html)
        f.write(out_table_html)

        #stage_html_graphs = stage_html_graphs + '<hr>' + '<h3>' + 'MRETT' + mrett + '</h3>' + '<p>' + out_html + '</p><p>' + out_table_html + '</p>'

In [20]:
f.write("</body></html>")
f.close()

In [5]:
df_rides

{'TLR MRETT21 Monday Race':    # Unnamed: 1                  Name         Finish Time  Avg wKg  \
 0  1          ðŸ¥‡  a1ba5d33c04caeae951d             37:15.5     4.34
 1  2          ðŸ¥ˆ  3703b4d380eff6486c62     37:16.0 + 0.471     3.08
 2  3          ðŸ¥‰  453ca50f305c3e40833a     37:16.5 + 0.986     3.38
 3  4        NaN  9feb8cd8727b826551a7    37:31.0 + 15.448     3.58
 4  5        NaN  a1ca08fbafa34471a7e8  46:27.4 + 9:11.907     2.45
 5  6        NaN  c16d1b73e6f802ab7333  46:35.8 + 9:20.252     1.96

                       Ride          Pseudonym
 0  TLR MRETT21 Monday Race      eager-meerkat
 1  TLR MRETT21 Monday Race  persimmon-jaybird
 2  TLR MRETT21 Monday Race       tactful-clam
 3  TLR MRETT21 Monday Race     watchful-panda
 4  TLR MRETT21 Monday Race      amaranth-myna
 5  TLR MRETT21 Monday Race  belligerent-swift  ,
 'TLR MRETT22 Race Monday':    # Unnamed: 1                  Name         Finish Time  Avg wKg  \
 0  1          ðŸ¥‡  4f9fa5e6c5c093cc63f4             34:58.7     3.81
 1  2          ðŸ¥ˆ  a1ba5d33c04caeae951d     34:59.7 + 0.974     4.46
 2  3          ðŸ¥‰  453ca50f305c3e40833a     34:59.8 + 1.063     3.50
 3  4        NaN  c7601540ed2d8d453411     34:59.8 + 1.093     3.96
 4  5        NaN  9feb8cd8727b826551a7  38:10.4 + 3:11.689     3.48
 5  6        NaN  3703b4d380eff6486c62  39:01.3 + 4:02.522     3.23

                       Ride            Pseudonym
 0  TLR MRETT22 Race Monday  idealistic-porpoise
 1  TLR MRETT22 Race Monday        eager-meerkat
 2  TLR MRETT22 Race Monday         tactful-clam
 3  TLR MRETT22 Race Monday     loutish-antelope
 4  TLR MRETT22 Race Monday       watchful-panda
 5  TLR MRETT22 Race Monday    persimmon-jaybird  ,
 'TLR MRETT23 Monday Race':    # Unnamed: 1                  Name         Finish Time  Avg wKg  \
 0  1          ðŸ¥‡  4f9fa5e6c5c093cc63f4             32:02.9     3.54
 1  2          ðŸ¥ˆ  a1ba5d33c04caeae951d     32:04.0 + 1.081     4.39
 2  3          ðŸ¥‰  c7601540ed2d8d453411     32:04.1 + 1.138     4.08
 3  4        NaN  3703b4d380eff6486c62     32:04.2 + 1.258     3.14
 4  5        NaN  453ca50f305c3e40833a     32:05.6 + 2.690     3.22
 5  6        NaN  9feb8cd8727b826551a7  36:12.7 + 4:09.738     3.54

                       Ride            Pseudonym
 0  TLR MRETT23 Monday Race  idealistic-porpoise
 1  TLR MRETT23 Monday Race        eager-meerkat
 2  TLR MRETT23 Monday Race     loutish-antelope
 3  TLR MRETT23 Monday Race    persimmon-jaybird
 4  TLR MRETT23 Monday Race         tactful-clam
 5  TLR MRETT23 Monday Race       watchful-panda  ,
 'TLR MRETT24 Monday Race':    # Unnamed: 1                  Name         Finish Time  Avg wKg  \
 0  1          ðŸ¥‡  4f9fa5e6c5c093cc63f4             35:31.2     3.71
 1  2          ðŸ¥ˆ  a1ba5d33c04caeae951d     35:31.7 + 0.467     4.33
 2  3          ðŸ¥‰  c7601540ed2d8d453411     35:31.8 + 0.604     3.72
 3  4        NaN  3703b4d380eff6486c62     35:32.2 + 0.968     3.17
 4  5        NaN  9feb8cd8727b826551a7  38:02.0 + 2:30.781     3.32
 5  6        NaN  453ca50f305c3e40833a  38:30.6 + 2:59.424     3.26

                       Ride            Pseudonym
 0  TLR MRETT24 Monday Race  idealistic-porpoise
 1  TLR MRETT24 Monday Race        eager-meerkat
 2  TLR MRETT24 Monday Race     loutish-antelope
 3  TLR MRETT24 Monday Race    persimmon-jaybird
 4  TLR MRETT24 Monday Race       watchful-panda
 5  TLR MRETT24 Monday Race         tactful-clam  ,
 'TLR MRETT25 Race Monday':    # Unnamed: 1                  Name         Finish Time  Avg wKg  \
 0  1          ðŸ¥‡  4f9fa5e6c5c093cc63f4             36:52.6     3.57
 1  2          ðŸ¥ˆ  a1ba5d33c04caeae951d     36:54.9 + 2.339     4.31
 2  3          ðŸ¥‰  453ca50f305c3e40833a     36:55.0 + 2.386     3.50
 3  4        NaN  3703b4d380eff6486c62     36:55.1 + 2.514     3.20
 4  5        NaN  9feb8cd8727b826551a7  41:20.6 + 4:28.006     3.45

                       Ride            Pseudonym
 0  TLR MRETT25 Race Monday  idealistic-porpoise
 1  TLR MRETT25 Race Monday        eager-meerkat
 2  TLR MRETT25 Race Monday         tactful-clam
 3  TLR MRETT25 Race Monday    persimmon-jaybird
 4  TLR MRETT25 Race Monday       watchful-panda  ,
 'TLR MRETT26 Race Monday':    # Unnamed: 1                  Name         Finish Time  Avg wKg  \
 0  1          ðŸ¥‡  453ca50f305c3e40833a             37:20.8     3.35
 1  2          ðŸ¥ˆ  3703b4d380eff6486c62     37:20.9 + 0.119     3.12
 2  3          ðŸ¥‰  c7601540ed2d8d453411     37:20.9 + 0.127     3.78
 3  4        NaN  9feb8cd8727b826551a7  38:46.4 + 1:25.619     3.26

                       Ride          Pseudonym
 0  TLR MRETT26 Race Monday       tactful-clam
 1  TLR MRETT26 Race Monday  persimmon-jaybird
 2  TLR MRETT26 Race Monday   loutish-antelope
 3  TLR MRETT26 Race Monday     watchful-panda  }