# Read MRETT Events

Example event URL: https://rgtdb.com/events/90452

In [4]:
import pandas as pd
from datetime import datetime as dt
import datetime

## Google spreadsheet with event IDs

https://docs.google.com/spreadsheets/d/1gE2gzncRuiwzY4xgKEbVDjSBUde8LGc7u9pIMQ0C6bQ/edit#gid=455438122

In [11]:
df_events = pd.read_csv('https://docs.google.com/spreadsheets/d/' + 
                   '1gE2gzncRuiwzY4xgKEbVDjSBUde8LGc7u9pIMQ0C6bQ' +
                   '/export?gid=' + '455438122' + '&format=csv',
                   # Set first column as rownames in data frame
                   index_col=0,
                   # Parse column values to datetime
                   #parse_dates=['Quradate']
                  )
df_events

,rgtdb-Event-Id,Unnamed: 2,https://rgtdb.com/events/,/broadcast
Team,,,,
eCKD 1,88199,NaN,NaN,NaN
eCKD 2,86514,NaN,NaN,NaN
KISS Racing Team 1,86464,NaN,NaN,NaN
Moon Riders,87356,NaN,NaN,NaN
OTR Black,86356,NaN,NaN,NaN
OTR Blue,86731,NaN,NaN,NaN
OTR Green,86338,NaN,NaN,NaN
Pocomotion,88001,NaN,NaN,NaN
Rasio Racing,87263,NaN,NaN,NaN
RGT France 1,87645,NaN,NaN,NaN
Team Lou Racing Squad,86163,NaN,NaN,NaN
The Pedalers,86674,NaN,NaN,NaN
Tricky Allsorts,86411,NaN,NaN,NaN
Westerley CC Purple,86511,NaN,NaN,NaN
WKG Renegades,86181,NaN,NaN,NaN

In [21]:
int(df_events.loc['eCKD 1'][0])

88199

In [22]:
df_teams = {}

for index, row, in df_events.iterrows():
    eventID = str(int(row[0]))

    print(index, eventID)
    
    dfs_team_event = pd.read_html('https://rgtdb.com/events/' + eventID)
    df_team_times = dfs_team_event[1]
    df_teams[index] = df_team_times

eCKD 1 88199.0
eCKD 2 86514.0
KISS Racing Team 1 86464.0
Moon Riders 87356.0
OTR Black 86356.0
OTR Blue 86731.0
OTR Green 86338.0
Pocomotion 88001.0
Rasio Racing 87263.0
RGT France 1 87645.0
Team Lou Racing Squad 86163.0
The Pedalers 86674.0
Tricky Allsorts 86411.0
Westerley CC Purple 86511.0
WKG Renegades 86181.0

In [47]:
df_3rd = pd.DataFrame()

for key in df_teams.keys():
    #print(df_teams[key].iloc[2])
    df_3rd = df_3rd.append([df_teams[key].iloc[2]])

df_3rd['Team'] = df_teams.keys()
df_3rd.set_index('Team', inplace=True)
df_3rd

,#,Unnamed: 1,Name,Finish Time,Avg wKg
Team,,,,,
eCKD 1,3,🥉,Claus Bering (m) eCKD,33:47.1 + 0.177,4.22
eCKD 2,3,🥉,Kurt nørum Pedersen(m) eCKD,36:03.9 + 0.961,3.60
KISS Racing Team 1,3,🥉,Ed Aguayo,36:00.8 + 0.387,3.86
Moon Riders,3,🥉,Timo Achenbach MoonRiders,35:38.2 + 1.457,4.31
OTR Black,3,🥉,Chris (otr) Hopkinson(m),35:18.2 + 0.940,4.38
OTR Blue,3,🥉,K. Eith (otr) e OTR Racing,35:57.6 + 0.499,4.50
OTR Green,3,🥉,Stewart Murray (otr) OTR Racing,36:08.0 + 2.092,3.08
Pocomotion,3,NaN,Kristen Ege,35:02.8 + 3.421,3.32
Rasio Racing,3,🥉,Mark Rowbottom яʀ яʀ,33:52.7 + 3.510,4.24
RGT France 1,3,🥉,E fernet3cy c [3cy],34:50.0 + 2.640,3.96
Team Lou Racing Squad,3,🥉,Sigsworth Ben (tlr)(m) Bo,37:16.5 + 0.986,3.38
The Pedalers,3,🥉,Francis Lambert Pedalers,35:05.2 + 1.493,3.76
Tricky Allsorts,3,🥉,James Byatt,37:44.0 + 10.416,3.72
Westerley CC Purple,3,🥉,David wcc Buckley wcc,37:46.2 + 0.368,2.87
WKG Renegades,3,🥉,Mike Gamble,38:38.7 + 1.177,3.21

In [55]:
df_3rd[['Time', 'Diff']] = df_3rd['Finish Time'].str.split('+', expand=True)

In [66]:
#df_3rd['timedelta'] = pd.to_timedelta(df_3rd['Time']) 
#df_3rd['Time in Seconds'] = df_3rd['timedelta'].dt.total_seconds() 


df_3rd['timedelta'] = pd.to_timedelta('00:' + df_3rd['Time'])
df_3rd['Time in Seconds'] = df_3rd['timedelta'].dt.total_seconds()

In [68]:
df_3rd.sort_values('timedelta')

,#,Unnamed: 1,Name,Finish Time,Avg wKg,Time,Diff,timedelta,Time in Seconds
Team,,,,,,,,,
eCKD 1,3,🥉,Claus Bering (m) eCKD,33:47.1 + 0.177,4.22,33:47.1,0.177,0 days 00:33:47.100000,2027.1
Rasio Racing,3,🥉,Mark Rowbottom яʀ яʀ,33:52.7 + 3.510,4.24,33:52.7,3.510,0 days 00:33:52.700000,2032.7
RGT France 1,3,🥉,E fernet3cy c [3cy],34:50.0 + 2.640,3.96,34:50.0,2.640,0 days 00:34:50,2090.0
Pocomotion,3,NaN,Kristen Ege,35:02.8 + 3.421,3.32,35:02.8,3.421,0 days 00:35:02.800000,2102.8
The Pedalers,3,🥉,Francis Lambert Pedalers,35:05.2 + 1.493,3.76,35:05.2,1.493,0 days 00:35:05.200000,2105.2
OTR Black,3,🥉,Chris (otr) Hopkinson(m),35:18.2 + 0.940,4.38,35:18.2,0.940,0 days 00:35:18.200000,2118.2
Moon Riders,3,🥉,Timo Achenbach MoonRiders,35:38.2 + 1.457,4.31,35:38.2,1.457,0 days 00:35:38.200000,2138.2
OTR Blue,3,🥉,K. Eith (otr) e OTR Racing,35:57.6 + 0.499,4.50,35:57.6,0.499,0 days 00:35:57.600000,2157.6
KISS Racing Team 1,3,🥉,Ed Aguayo,36:00.8 + 0.387,3.86,36:00.8,0.387,0 days 00:36:00.800000,2160.8
eCKD 2,3,🥉,Kurt nørum Pedersen(m) eCKD,36:03.9 + 0.961,3.60,36:03.9,0.961,0 days 00:36:03.900000,2163.9
OTR Green,3,🥉,Stewart Murray (otr) OTR Racing,36:08.0 + 2.092,3.08,36:08.0,2.092,0 days 00:36:08,2168.0
Team Lou Racing Squad,3,🥉,Sigsworth Ben (tlr)(m) Bo,37:16.5 + 0.986,3.38,37:16.5,0.986,0 days 00:37:16.500000,2236.5
Tricky Allsorts,3,🥉,James Byatt,37:44.0 + 10.416,3.72,37:44.0,10.416,0 days 00:37:44,2264.0
Westerley CC Purple,3,🥉,David wcc Buckley wcc,37:46.2 + 0.368,2.87,37:46.2,0.368,0 days 00:37:46.200000,2266.2
WKG Renegades,3,🥉,Mike Gamble,38:38.7 + 1.177,3.21,38:38.7,1.177,0 days 00:38:38.700000,2318.7

In [5]:

eventID = '90452'

dfs = pd.read_html('https://rgtdb.com/events/' + eventID)
df = dfs[1]

   # Unnamed: 1                       Name         Finish Time  Avg wKg
0  1          🥇       Henrik Heibøll  eCKD             29:31.6     4.24
1  2          🥈            Martin Breum(m)     29:31.6 + 0.026     4.49
2  3          🥉    Flemming Bach (m)  eCKD     29:31.6 + 0.036     3.80
3  4        NaN        Martin Jacobsen (m)     29:31.6 + 0.041     3.95
4  5        NaN  Rasmus Feldballe(m)  eCKD     29:31.8 + 0.215     4.32
5  6        NaN     Claus Bering (m)  eCKD  34:58.7 + 5:27.094     3.25

In [9]:
df.iloc[2]['Finish Time'].split('+')[0]

'29:31.6 '

In [10]:
df.style.set_caption('MRETT21')