In [10]:
import pandas as pd

mrett_gids = {
    'GC' : '1384530880',
    '21' : '0',
    '22' : '601708178',
    '23' : '171816323',
    '24' : '1769801856',
    '25' : '1953569581',
    '26' : '1178762166'
}

df_mretts = {}

for mrett in mrett_gids.keys():
    filename = mrett + '.pickle'
    df_mretts[mrett] = pd.read_pickle(filename)

In [11]:
df_mretts['GC']

,#,Total,MRETT21,MRETT22,MRETT23,MRETT24,MRETT25,MRETT26
Team,,,,,,,,
eCKD 1,1,1200,200.0,200.0,200.0,200.0,200.0,200.0
The Pedalers,2,1110,170.0,190.0,190.0,190.0,180.0,190.0
Rasio Racing,3,1100,190.0,180.0,180.0,180.0,190.0,180.0
Pocomotion,4,1020,175.0,165.0,170.0,165.0,175.0,170.0
OTR Black,5,1010,165.0,160.0,175.0,175.0,160.0,175.0
KISS Racing Team 1,6,980,150.0,175.0,155.0,170.0,165.0,165.0
Moon Riders,7,951,160.0,141.0,160.0,160.0,170.0,160.0
OTR Blue,8,920,155.0,170.0,145.0,145.0,150.0,155.0
OTR Green,9,898,141.0,137.0,165.0,150.0,155.0,150.0
Team Lou Racing Squad,10,877,137.0,145.0,150.0,155.0,145.0,145.0
eCKD 2,11,830,145.0,133.0,137.0,137.0,141.0,137.0
Westerley CC Purple,12,810,129.0,129.0,133.0,141.0,137.0,141.0
WKG Renegades,13,520,125.0,125.0,141.0,129.0,NaN,NaN
Westerlies,14,504,NaN,121.0,129.0,125.0,129.0,NaN
Team Lou Too,15,399,NaN,NaN,NaN,133.0,133.0,133.0
RGT France 1,16,335,180.0,155.0,NaN,NaN,NaN,NaN
Les Watts,17,150,NaN,150.0,NaN,NaN,NaN,NaN
Tricky Allsorts,18,133,133.0,NaN,NaN,NaN,NaN,NaN

In [12]:
import pandas_bokeh

css_classes = ['uk-table', 'uk-table-small', 'uk-table-hover', 'uk-table-divider', 'uk-table-striped']

f = open("index.html", "w")
f.write("<html><head>")

f.write('''<html><head><title>MRETT Series 2</title>        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>

        </head><body><h1>MRETT Series 2</h1>''')


GC_html_graph = df_mretts['GC'][::-1].loc[:,'MRETT21':'MRETT26'].fillna(0).plot_bokeh.barh(
    ylabel="Team",
    xlabel="Points", 
    title="MRETT Series 2 GC", 
    stacked=True,
    alpha=0.6,
    figsize=(1600, 600),
    legend = "bottom_right",
    sizing_mode="scale_width",
    zooming=False,
    return_html=True, show_figure=False
    )

f.write('<hr>' + '<h2>' + 'MRETT' + ' GC' + '</h2>')

f.write(GC_html_graph)

GC_html_table = df_mretts['GC'].to_html(classes=css_classes, border=0)

f.write(GC_html_table)
for mrett in mrett_gids.keys():
    if mrett != 'GC':
        df_mretts[mrett]['timedelta'] = pd.to_timedelta(df_mretts[mrett].Time) 
        df_mretts[mrett]['Time in Seconds'] = df_mretts[mrett]['timedelta'].dt.total_seconds() 
        df_mretts[mrett]['Time in Minutes'] = df_mretts[mrett]['Time in Seconds']/60
        df_mretts[mrett]['Time in Minutes Truncated'] = divmod(df_mretts[mrett]['Time in Seconds'], 60)[0] 
        df_mretts[mrett]['Time Remainder in Seconds'] = divmod(df_mretts[mrett]['Time in Seconds'], 60)[1] 
        df_mretts[mrett]['Team Name'] = df_mretts[mrett].index


stage_html_graphs = ''

for mrett in mrett_gids.keys():
    if mrett != 'GC':
        out_html = df_mretts[mrett][::-1].plot_bokeh.barh(    
            title = 'MRETT' + mrett,
            xlabel = 'Time (Minutes)',
            y='Time in Minutes',
            alpha=0.6,
            figsize=(1600, 600),
            legend = "top_right",
            hovertool_string="""<h2> #@{#} 
                                @{Team Name} </h2>
                                <h3> Time: @{Time} </h3>""",
            sizing_mode="scale_width",
            zooming=False,
            return_html=True, show_figure=False
            )

        

        out_table_html = df_mretts[mrett][['#', 'Time', 'Diff', 'Points']].to_html(classes=css_classes, border=0)

        f.write('<hr>' + '<h2>' + 'MRETT' + mrett + '</h2>')
        f.write(out_html)
        f.write(out_table_html)

        #stage_html_graphs = stage_html_graphs + '<hr>' + '<h3>' + 'MRETT' + mrett + '</h3>' + '<p>' + out_html + '</p><p>' + out_table_html + '</p>'
f.write("</body></html>")
f.close()